NEXT_PUBLIC_APPWRITE_ENDPOINT=https://fra.cloud.appwrite.io/v1
NEXT_PUBLIC_APPWRITE_PROJECT_ID=680b2b830035595d7746
NEXT_PUBLIC_APPWRITE_DATABASE_ID=680b2cfb002805548743
NEXT_PUBLIC_APPWRITE_USERDATA_COLLECTION_ID=680b30be0039f9a1d03e
NEXT_PUBLIC_ONE_APP_URL=https://app.amcmep.in
NEXT_PUBLIC_WORKSPACE_URL=https://workspace.amcmep.in
